body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 16px;
}
li {
	list-style: none;
}
.title {
	text-transform: uppercase;
}
/** HEADER **/
#sp-header {
	background: url(../images/main-pic/2000.jpg); no-repeat;
	background-size: cover;
	background-position:  center;
	background-color: #f1f1f1;
	position: relative;
	width: 100%;
	z-index: 99;
	height: 100vh;
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(10, 10, 10, 0.3);
	min-width: 100%;
	min-height: 100%;
}
.sp-contact-info {
	list-style: none;
	color: #fff;
	font-size: 0.9em;
	margin-top: 15px;
	margin-bottom: 0;
	padding: 0;
}
.sp-contact-info li {
	display: inline-block;
	margin: 0 10px;
	font-size: 91%;
	white-space: nowrap;
}
.sp-contact-info li a {
	color: #fff;
}
.navbar  {
	width: 100%;
}
.navbar-brand {
	background: url(../images/Logo_garant-1000x1000px.png) no-repeat;
	background-size: cover;
	background-position: center;
	width: 65px;
	height: 65px;
}
.slogan h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	letter-spacing: 1.5px;
	line-height: 1.2;
	color: #fff;
	margin-left: 20px;
}
.navbar button {
	padding-top: -15px;
	font-weight: 100;
	border: solid 1px #fff;
	margin-top: -5px;
}
 .navbar-toggler .fas  {
	color: #fff;
	font-size: 1.2em;
	padding: 1px;
}
.navbar-nav li {
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}
.navbar-nav li a {
	transition: 0.4s;
	color: #fff;
	border-radius: 0.4em;
}
.navbar-nav li a:hover {
	transition: 0.3s;
	color: #000;
	background: #F2B705;
	border-radius: 0.4em;
}
.caption {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	top: 12em;
}
.caption p {
	font-weight: 300;
	letter-spacing: 0.5px;
}
.caption button {
	background-color: #577356;
	border: 0;
}
.caption button:hover {
	background-color: #F2B705;
}
/*********** CHECKED ***************/



	
/** ADVANTAGES **/
#advantages {
	padding-bottom:70px;

}
#advantages h4 {
	padding-top: 45px;
}
.advantage-2, .advantage-4 {
	/*margin-left: auto;*/
}
.advantage-box h5, .advantage-box p {
	padding-top: 10px;
}

#advantages .col-md-6:nth-child(n+3) {
	padding-top: 40px;
}

.advantage-img-prof {
	background: url(../images/advantages/experience.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}
.advantage-img-expir {
	background: url(../images/advantages/professionalism.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;

}
.advantage-img-love {
	background: url(../images/advantages/love.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}
.advantage-img-any-dif {
	background: url(../images/advantages/dificult-dish.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}
.advantage-box {
	margin-top: 20px;
}

.item-tile {
	/*padding-bottom: 60px;*/
	display: inline-block;
	/*margin: 20px 0 20px;*/
}
div.advantage-expl > p{
	font-size: 1.2em;
	line-height: 2;
}
/** SERVICE **/
.main-service {
	padding-top: 20px;
}
.serv-holder {
	padding-top: 20px;
}
#service {
	background-color: #f1f1f1;
	padding-bottom: 80px;
}
#service .col-md-4:nth-child(n+4) {
	padding-top: 20px;
}
#service h4 {
	padding-top: 15px;
}
.service-box {
	height: 300px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 15px;
}
.service-box span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
	padding: 10px 0;
}
.block-overlay {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background:rgba(255,255,255, 0.8);
    padding:10px 25px;
}
.service-box:hover .block-overlay {
	display: block;
	transition:  0.7s;
}
.block-overlay h4 {
	padding-top: 10px;
}
.block-overlay ul {
	padding: 0;
}
.block-overlay ul li {
	padding-top: 0.4em;
	list-style: none;
	font-size: 1.3em;
}
.block-overlay button {
	display: flex;
	margin: 0 auto;
}
.block-overlay a, .block-overlay a:hover {
	text-decoration: none;
	color: #000;
}
.banquet {
	background: url(../images/service/banquet.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.desserts {
	background: url(../images/service/desserts.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.lunch {
	background: url(../images/service/delivery.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.board-food {
	background: url(../images/service/plane.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.pizza {
	background: url(../images/service/pizza.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.semifinished {
	background: url(../images/service/ravioli.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
/** LOCATIONS **/
#locations {
	background-color: #fff;
	padding-bottom: 40px;
}
#locations h5 {
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.locations-box {
	height: 250px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 45px;
	position: relative;
	border: 1px solid #3f1c0f;
	overflow: hidden;
}
.locations-box span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}
#location-1 {
	background: url("../images/locations/location-1.jpg");
	background-size: cover;
	background-position: center;
}
#location-2 {
	background: url("../images/locations/location-2.jpg");
	background-size: cover;
	background-position: center;
}
#location-3 {
	background: url("../images/locations/location-3.jpg");
	background-size: cover;
	background-position: center;
}
#location-4 {
	background: url("../images/locations/location-4.jpg");
	background-size: cover;
	background-position: center;
}
/** FEEDBACKS **/
#feedbacks {
	background-color: #fff;

}
.block-one-example {
	margin:30px 0;
	position: relative;
}
.inner-testimonial {
	text-align: center;
	background-color: #fff;
}

.inner-testimonial > img{
	max-width: 128px;
	margin:0 auto 15px;
	opacity: 0;
	-webkit-transition:all 1.3s linear;
	transition:all 1.3s linear;
}
h3.city-name {
	padding:10px 0;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
}
.text-testimonial {
	padding:10px 0;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 25px;
}
.block-items {
	cursor: default;
}
/*Изменяем внешний вид элементов управления (точки) */
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
}

.owl-theme .owl-dots .owl-dot.active span{
	width: 14px;
	height: 14px;
}

/*Стрелки*/
.owl-my-nav {
	position: absolute;
	width: 100%;
	height: 100%;
}
.owl-my-nav .owl-prev,
.owl-my-nav .owl-next {
	position: absolute;
	width: 60px;
	top:34%;
	font-size: 100px;
	z-index: 20;
	cursor:pointer;
	opacity: 0.5;
	-webkit-transition:opacity .3s ease;
	transition:opacity .3s ease;
}

.owl-my-nav .owl-prev:hover,
.owl-my-nav .owl-next:hover{
	opacity: 0.8;
}

.owl-my-nav .owl-prev {
	left: 50px;
}

.owl-my-nav .owl-next {
	right: 50px;
	text-align: right;
}




/** FOOTER **/
#footer-list-chart {
	background-color: #f1f1f1;
	padding-bottom: 40px;
}
#footer-list-chart h5 {
	padding-top: 60px;
}
#footer-list-chart li {
	padding: 5px 0;
	color: #fff;
	transition: 0.4s;

}
#footer-list-chart a, .more-lists {
	padding: 5px;
	transition: 0.4s;

}
#footer-list-chart a:hover, .more-lists:hover {
	color: #fff;
	transition: 0.4s;
	background-color: #F2B705;
	border-radius: 0.4em; 
}
.footer-service ul {
	padding-top: 10px;
	padding-left: 0;
}
.footer-service li a {
	text-decoration: none;
	color: #000;
}


.hidden-list {
	display: none;
}
.more-lists {
	display: inline-block;
	cursor: pointer;
	margin: 10px 0;
}

#footer-bottom {
	padding: 25px 0;
	background-color: #141414;
	color: #fff;
	font-size: 14px;
}
#footer-bottom a {
	color: #fff;
}
.copyright {
	padding: 0;
}


a.reports, a.reports:hover {
	text-decoration: none;
	color: #fff;

}

.sp-social-icons {
	padding: 0;
	margin: -5px -10px;
}


.sp-social-icons > li {
	display: inline-block;
	margin: auto 8px;
	font-size: 1.5em;
	white-space: nowrap;

}





/** GO TO TOP **/
div.scrollup {
	  position: fixed; /* фиксированная позиция */
	  color: #fff; /* цвет текста */
	  background-color: rgb(152 152 152); /* цвет заднего фона */
	  right: 20px; /* расстояние от правого края */
	  bottom: 20px; /* расстояние от нижнего края */
	  padding: 4px 10px; /* отступы до содержимого блока */
	  font-size: 20px; /* размер шрифта (иконки) */
	  border-radius: 4px; /* скругление верхнего левого угла */
	  cursor: pointer; /* форма курсора */
	  display: none; /* не отображать элемент */
	  text-align: center; /*выравнивание содержимого элемента по центру */
}
div.scrollup:hover {
  background-color:rgb(50 50 50); /* цвет заднего фона при наведении */
}



/** MEDIA **/
@media screen and (max-width: 991px) {
	.navbar-nav {
		background-color: #000;
		opacity: 0.8;
		height: 100%;
		z-index: 99;
	}	
  	.navbar-nav li > a {
		text-align: center;
  		margin: 5px 0;
  	}
	.slogan {
  		margin-right: auto;
  	}
  	.caption {
		top: 23em;
	}
	.caption button {
		font-size: 1em;
		padding: 4px;
		font-weight: bold;
		background-color: pink;

	}
/************** CHECKED ***********/
	


}

@media screen and (max-width: 767px) {
	#sp-header {
  		background: url(../images/main-pic/1200px.jpg) no-repeat;
  		background-size: cover;
		background-position:  center;
  	}
	.navbar-nav {
		background-color: #000;
  		padding-top: 5px;
		opacity: 0.8;
		z-index: 99;
	}
	.navbar-nav li > a {
		text-align: center;
  		font-size: 1.3em;
  		margin: 5px 0;

  	}
    .navbar-brand {
		width: 55px;
		height: 55px;
	}
	.slogan h6 {
		font-weight: 400;
	}
	.caption {
		top: 4em;
	}
	.caption button {
		font-size: 1em;
		margin-top: 15px;
		padding: 4px;
		font-weight: bold;
		background-color: green;
	}
	#footer-list-chart:first-child {
		padding-top: 20px;
	}
	#footer-list-chart h5 {
		padding: 5px 0;
		margin-bottom: 5px;
	}
	
/************ CHECKED ************/






	
  	#advantages .col-md-6:nth-child(n+2) {
	padding-top: 60px;
	}

	.text-testimonial {
		font-size: 14px;
	}

	.owl-my-nav .owl-prev,
	.owl-my-nav .owl-next{
		font-size: 50px;
	}

	.owl-my-nav .owl-prev {
		left: 10px;
	}

	.owl-my-nav .owl-next {
		right: 10px;
	}


@media screen and (max-width: 480px) {
	#sp-header {
  		background: url(../images/main-pic/1200px.jpg) no-repeat;
  		background-size: cover;
		background-position:  center;
  	}	
  	.navbar-brand {
	width: 55px;
	height: 55px;
	}
	.slogan h6 {
	font-weight: 400;
	}
	.navbar-nav {
		background-color: #000;
		opacity: 0.8;
  		padding-top: 5px;
		z-index: 99;							
	}
	.navbar-nav li > a {
		text-align: center;
  		margin: 5px 0;
  		font-size: 1.3em;
  	}
   	.caption {
		top: 13em;
	}
	.caption h4 {
		font-size: 1.3em;
	}
	.caption button {
		font-size: 1em;
		margin-top: 15px;
		padding: 4px;
		font-weight: bold;
		background-color: red;
	}
/*********** CHECKED **********/	




  	#advantages .col-md-6:nth-child(n+2) {
	padding-top: 60px;
	}

	/*.text-testimonial {
		font-size: 14px;
	}

	.owl-my-nav .owl-prev,
	.owl-my-nav .owl-next{
		font-size: 50px;
	}

	.owl-my-nav .owl-prev {
		left: 10px;
	}

	.owl-my-nav .owl-next {
		right: 10px;
	}
*/
	div.scrollup {
	   bottom: 5em; /* расстояние от нижнего края */
	}
	.sp-social-icons {

	}
	.sp-1 {
		margin-top: 20px;
	}
	.sp-2 {
		margin-top: -50px;
	}

	#footer-list-chart  {
		padding: 5px 0;
	}
	#footer-list-chart:first-child {
		padding-top: 20px;
	}
	
}




