body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-size: 16px;
}
.title {
	text-transform: uppercase;
}
li {
	list-style: none;
}
/** TOP BAR **/
#top-bar {
	background-color: #141414;
	font-size: 0.875rem;
	padding: 8px 0;
}
#top-bar a {
	color: #fff;
}
.sp-social-icons {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin:  -5px;
	font-size: 110%;
}
.sp-social-icons > li {
	display: inline-block;
	margin: 5px 8px;
	white-space: nowrap;
}
.sp-contact-info {
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	color: #fff;
}
.sp-contact-info li {
	display: inline-block;
	margin: 0 10px;
	font-size: 91%;
	white-space: nowrap;
}
/** HEADER **/
#sp-header {
	background: url(../images/jumbotron/jumbotron-2000-px.jpg); no-repeat;
	background-size: cover;
	background-position:  center;
	background-color: #f1f1f1;
	position: relative;
	width: 100%;
	z-index: 99;
	height: 600px;
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.2;
	min-width: 100%;
	min-height: 100%;
}
.navbar  {
	width: 100%;
}
.navbar-toggler {
	padding-top: -15px;
	font-weight: 100;
}
.navbar-brand {
	background: url(../images/Logo_garant-1000x1000px.png) no-repeat;
	background-size: cover;
	background-position: center;
	width: 75px;
	height: 75px;
}
.slogan > h5 {
	font-weight: 100;
	color: #fff;
	margin: 5px 0 0 20px;
}
 #sp-header .fas  {
	color: #fff;
	font-size: 1.2em;
	padding: 1px;
}
#sp-header .navbar-toggler {
	border: solid 1px #fff;
	margin-top: -5px;
}
#navbarSupportedContent, .navbar-nav {
	margin-right: -5px;
	margin-top: 5px;
}
.navbar-nav li {
	text-transform: uppercase;
	font-size: 0.8em;
}
.navbar-nav li a {
	transition: 0.4s;
	color: #fff;
	border-radius: 0.4rem;

}
.navbar-nav li > a:hover {
	transition: 0.3s;
	color: #000;
	background: #f8f9fa;
	border-radius: 0.4rem;
}
.navbar-nav li .dropdown-menu a {
	/*color: #000;*/
}
.caption {
	color: #fff;
	top: 11em;
	/*left: 5em;*/
}
.caption p {
	line-height: 2;
	font-size: 14px;
}
	
/** ADVANTAGES **/
#advantages {
	background: #fff;
	/*padding-top: 30px;*/
	padding-bottom:70px;

}
#advantages h4 {
	padding-top: 45px;
}
.advantage-box {
	padding-top: 70px;
	margin-top: 30px;
}
.advantage-box h5, .advantage-box p {
	padding-top: 10px;
}

#advantages .col-md-6:nth-child(n+3) {
	padding-top: 40px;
}
.award {
	font-size: 4em;
	display: flex;
	margin: 0 auto;
	font-weight: 100;
}
.item-tile {
	/*padding-bottom: 60px;*/
	display: inline-block;
	/*margin: 20px 0 20px;*/
}
div.advantage-expl > p{
	font-size: 1.2em;
	line-height: 2;
}
/** SERVICE **/
.main-service {
	padding-top: 20px;
}
.serv-holder {
	padding-top: 20px;
}
#service {
	background-color: #f1f1f1;
	padding-bottom: 80px;
}
#service .col-md-4:nth-child(n+4) {
	padding-top: 20px;
}
#service h4 {
	padding-top: 15px;
}
.service-box {
	height: 300px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 15px;
}
.service-box span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
	padding: 10px 0;
}
.block-overlay {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background:rgba(255,255,255, 0.8);
    padding:10px 25px;
}
.service-box:hover .block-overlay {
	display: block;
	transition:  0.7s;
}
.block-overlay h4 {
	padding-top: 10px;
}
.block-overlay ul {
	padding: 0;
}
.block-overlay ul li {
	padding-top: 0.4em;
	list-style: none;
	font-size: 1.3em;
}
.block-overlay button {
	display: flex;
	margin: 0 auto;
}
.block-overlay a, .block-overlay a:hover {
	text-decoration: none;
	color: #000;
}
.banquet {
	background: url(../images/service/banquet.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.desserts {
	background: url(../images/service/desserts.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.lunch {
	background: url(../images/service/delivery.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.board-food {
	background: url(../images/service/plane.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.pizza {
	background: url(../images/service/pizza.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.semifinished {
	background: url(../images/service/ravioli.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
/** LOCATIONS **/
#locations {
	background-color: #fff;
	padding-bottom: 40px;
}
#locations h5 {
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.locations-box {
	height: 250px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 45px;
	position: relative;
	border: 1px solid #3f1c0f;
	overflow: hidden;
}
.locations-box span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}
#location-1 {
	background: url("../images/locations/location-1.jpg");
	background-size: cover;
	background-position: center;
}
#location-2 {
	background: url("../images/locations/location-2.jpg");
	background-size: cover;
	background-position: center;
}
#location-3 {
	background: url("../images/locations/location-3.jpg");
	background-size: cover;
	background-position: center;
}
#location-4 {
	background: url("../images/locations/location-4.jpg");
	background-size: cover;
	background-position: center;
}
/** FEEDBACKS **/
#feedbacks {
	background-color: #fff;

}
.block-one-example {
	margin:30px 0;
	position: relative;
}
.inner-testimonial {
	text-align: center;
	background-color: #fff;
}

.inner-testimonial > img{
	max-width: 128px;
	margin:0 auto 15px;
	opacity: 0;
	-webkit-transition:all 1.3s linear;
	transition:all 1.3s linear;
}
h3.city-name {
	padding:10px 0;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
}
.text-testimonial {
	padding:10px 0;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	line-height: 25px;
}
.block-items {
	cursor: default;
}
/*Изменяем внешний вид элементов управления (точки) */
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
}

.owl-theme .owl-dots .owl-dot.active span{
	width: 14px;
	height: 14px;
}

/*Стрелки*/
.owl-my-nav {
	position: absolute;
	width: 100%;
	height: 100%;
}
.owl-my-nav .owl-prev,
.owl-my-nav .owl-next {
	position: absolute;
	width: 60px;
	top:34%;
	font-size: 100px;
	z-index: 20;
	cursor:pointer;
	opacity: 0.5;
	-webkit-transition:opacity .3s ease;
	transition:opacity .3s ease;
}

.owl-my-nav .owl-prev:hover,
.owl-my-nav .owl-next:hover{
	opacity: 0.8;
}

.owl-my-nav .owl-prev {
	left: 50px;
}

.owl-my-nav .owl-next {
	right: 50px;
	text-align: right;
}




/** FOOTER **/
.footer-top {
	background-color: #f1f1f1;
	padding-bottom: 40px;
}
.footer-top  h5 {
	padding-top: 60px;
}
.footer-top  li {
	padding: 5px 0;
}
.service-footer ul {
	padding-top: 10px;
	padding-left: 0;
}
.service-footer li a {
	text-decoration: none;
	color: #000;
}
.copyright-box {
	background-color: #141414;
	color: #fff;
	font-size: 14px;
}
.copyright {
	padding-top: 30px;
	margin-bottom: 30px;
}
#pannel-footer .container-inner {
	padding: 30px 0;
	border-top: 1px solid rgba(255, 255, 255, .1);
}
a.reports, a.reports:hover {
	text-decoration: none;
	color: #fff;

}
/** GO TO TOP **/

div.scrollup {
	  position: fixed; /* фиксированная позиция */
	  color: #fff; /* цвет текста */
	  background-color: rgb(152 152 152); /* цвет заднего фона */
	  right: 20px; /* расстояние от правого края */
	  bottom: 20px; /* расстояние от нижнего края */
	  padding: 4px 10px; /* отступы до содержимого блока */
	  font-size: 20px; /* размер шрифта (иконки) */
	  border-radius: 4px; /* скругление верхнего левого угла */
	  cursor: pointer; /* форма курсора */
	  display: none; /* не отображать элемент */
	  text-align: center; /*выравнивание содержимого элемента по центру */
}
div.scrollup:hover {
  background-color:rgb(50 50 50); /* цвет заднего фона при наведении */
}




@media (min-width:1200px) {
	.slogan h4 {
	margin: auto 0 auto 100px;
	}

}

/*********** Tablet version ***********/
@media (min-width: 768px) and (max-width: 991px) {
	.sp-social-icons {
		font-size: 110%;
	}
	.navbar-nav {
		background-color: #fff;
	}
	li.nav-item-active .nav-link {
		color: #fff;
	}
	ul.navbar-nav {
		text-align: center;
  		margin: 10px auto;
  		font-size: 1.3em;
  	}
	.slogan > h4 {
  		font-size: 1.3em;
  	}
  	.slogan h4 {
	margin: auto 0;
	}


}

/*********** Mobile version ***********/
@media (max-width: 767px) {

	.sp-social-icons {
		font-size: 140%;
	}
	.navbar-dark .navbar-nav .active > .nav-link {
		color: #fff;
	}
	.navbar-nav {
		background-color: #000;
		opacity: 0.8;
		height: 100%;
		z-index: 99;
	}
	.navbar-nav li > a {
		text-align: center;
  		margin: 10px auto;
  		font-size: 1.3em;
  	}
  	ul.navbar-nav > li {
  		padding-top: 5px;
  	}
  	#sp-header {
  		background: url(../images/jumbotron/jumbotron-1200-px.jpg) no-repeat;
		height: 190px;
		background-size: cover;
		background-position:  center;
		box-sizing: border-box;
	}
  	.navbar-brand {
	width: 60px;
	height: 60px;
	padding-top: 20px;
	}
	.logo {
		top: 0.1em;
	}
	.caption {
		top: 1em;
	}
	.caption button {
		font-size: 1em;
		padding: 4px;
	}

  	#advantages .col-md-6:nth-child(n+2) {
	padding-top: 60px;
	}

	/*p*/.text-testimonial {
		font-size: 14px;
	}

	.owl-my-nav .owl-prev,
	.owl-my-nav .owl-next{
		font-size: 50px;
	}

	.owl-my-nav .owl-prev {
		left: 10px;
	}

	.owl-my-nav .owl-next {
		right: 10px;
	}




}
