body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	color: #000;
}
/** TOP BAR **/
#top-bar {
	background-color: #141414;
	font-size: 0.875rem;
	padding: 8px 0;
}
#top-bar a {
	color: #fff;
}
ul.sp-social-icons {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin:  -5px;
	font-size: 110%;
}
ul.sp-social-icons > li {
	display: inline-block;
	margin: 5px 5px;
	white-space: nowrap;
}
.sp-contact-info {
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	color: #fff;
}
.sp-contact-info li {
	display: inline-block;
	margin: 0 10px;
	font-size: 91%;
	white-space: nowrap;
}
/** HEADER **/
#sp-header {
	height: 80px;
	background-color: #f1f1f1;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 99;
	box-shadow: 0 0 4px 0 #343a40;
}
.navbar {

}
.navbar-brand img {
	display: inline-flex;
}
.slogan h4 {
	margin: auto 0 auto 40px;
	font-weight: 300;
}

nav.navbar  {
	padding: 2px 0;
}
#navbarSupportedContent {
	margin-right: -10px;
}
/** HEADER END **/

/** SLIDER **/

/** MAIN CONTENT **/
#main-content {
	margin-top: 15px;
	display: block;
}
#main-content {
	text-decoration: none;
	color: #000;
}
.story-tile {
	margin-left: auto;
	margin-right: auto;
}
div.story-text >  p {
	font-size: 1.2em;
	line-height: 2;
}
.item-tile {
	display: inline-block;
	margin: 20px 0 20px;
}
.item-logo > img {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 60px;
	left: 15%;
}
h4.item-name {
	margin: 10px auto;
	text-align: left;
}
#align-left {
	right: 50px;
}
div.advantage-expl > p{
	font-size: 1.2em;
	line-height: 2;
}

/** BOTTOM **/
.bottom-box {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 1px solid #3f1c0f;
	overflow: hidden;
}
.bottom-box:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
.bottom-box span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}




/** FOOTER **/
#pannel-footer {
	background-color: #141414;
	color: #fff;
	font-size: 14px;
	padding: 0;

}	
#pannel-footer .container-inner {
	padding: 30px 0;
	border-top: 1px solid rgba(255, 255, 255, .1);
}


.scroll-up {
	display: none;
  	position: fixed;
  	bottom: 30px;
  	right: 30px;
  	width: 36px;
  	height: 36px;
  	line-height: 36px;
  	text-align: center;
  	font-size: 16px;
  	color: #fff;
  	background: #333;
  	border-radius: 3px;
  	z-index: 1000;
}
/** MAIN CONTENT **/
@media (min-width:1200px) {
	.slogan h4 {
	margin: auto 0 auto 100px;
	}
 
}

/*********** Tablet version ***********/
@media (min-width: 768px) and (max-width: 991px) {
	.sp-social-icons {
		font-size: 110%;
	}
	.navbar-nav {
		background-color: #fff;
	}
	li.nav-item-active .nav-link {
		color: #fff;
	}
	ul.navbar-nav {
		text-align: center;
  		margin: 10px auto;
  		font-size: 1.3em;
  	}
	.slogan > h4 {
  		font-size: 1.3em;
  	}
  	.slogan h4 {
	margin: auto 0;
	}

}
	
/*********** Mobile version ***********/
@media (max-width: 767px) {
	
	.sp-social-icons {
		font-size: 140%;
	}
	.navbar-nav {
		background-color: #fff;
	}
	li.nav-item-active .nav-link {
		color: #fff;
	}
	ul.navbar-nav {
		text-align: center;
  		margin: 10px auto;
  		font-size: 1.3em;
  	}
  	ul.navbar-nav > li {
  		padding-top: 10px;
  	}

}
